//@use "sass:math";  // Asegúrate de que está al inicio
@import './quasar.variables.scss';  // Variables personalizadas (opcional)
@import 'quasar/src/css/index.scss';  // Estilos principales de Quasar
